html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container, .content{
    width: 80%;
    margin: 0 auto;
    border: solid 1px rgba(165, 165, 165, .6);
}
.banner img{
    width: 100%;
    height: 50vh;
}